# Global helpers and defaults
# todo: set name as services (to avoid misunderstadings)

global:
  imagePullSecrets: []
  imagePullPolicy: IfNotPresent
  defaultResources:
    requests: {}
    limits: {}

asSessionWithQos:
  enabled: true
  image: "openexposure/as-session-with-qos:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: HTTP_PORT
    value: "8080"
  config:
    enabled: true
    data:
      nbi:
        httpVersion: 1
        useTLS: false
        fqdn: "3gpp-as-session-with-qos.local"
        port: 8080
      sbi:
        nrfSvc: "http://nrf.net01.3gpp.eurecom.fr"
        useNrf: false
        pcfSvc: "http://core-simulator:8080"
        httpVersion: 2
      supportedFeatures: "3fff"
      capifSvc: capif-connector:8080
    qosConfig:
      qos-e:
        marBwDl: 120000
        marBwUl: 120000
        mediaType: CONTROL
      qos2:
        marBwDl: 240000
        marBwUl: 240000
        mediaType: CONTROL
      qos3:
        marBwDl: 480000
        marBwUl: 480000
        mediaType: CONTROL
      qos4:
        marBwDl: 960000
        marBwUl: 960000
        mediaType: VIDEO

trafficInfluence:
  enabled: true
  image: "openexposure/traffic-influence:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: HTTP_PORT
    value: "8080"
  config:
    enabled: true
    data:
      nbi:
        httpVersion: 1
        useTLS: false
        fqdn: "3gpp-traffic-influence.local"
        port: 8080
      sbi:
        nrfSvc: http://nrf.net01.3gpp.eurecom.fr
        useNrf: false
        pcfSvc: http://nef-core-simulator:8080
        httpVersion: 2

      supportedFeatures: "3fff"
      capifSvc: nef-capif:8080

monitoringEvent:
  enabled: true
  image: "openexposure/monitoring-event:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: HTTP_PORT
    value: "8080"
  - name: REDIS_SVC
    value: "nef-redis-master:6379"
  - name: REDIS_PASSWORD
    value: ""
  config:
    enabled: true
    data:
      nbi:
        httpVersion: 1
        useTLS: false
        fqdn: "3gpp-monitoing-event.local"
        port: 8080
      sbi:
        identitySvc: "http://nef-ue-identity:8080"
        redisSvc: "redis://nef-redis-master:6379/"
        httpVersion: 2
      supportedFeatures: "3fff"
      capifSvc: nef-capif:8080

ueIdentity:
  enabled: true
  image: "openexposure/ue-identity-service:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: HTTP_PORT
    value: "8080"
  - name: REDIS_SVC
    value: "nef-redis-master:6379"
  - name: NBI_PORT
    value: "8080"
  - name: HTTPS
    value: "false"
  - name: HTTP_VER
    value: "1"

datasetExporter:
  enabled: true
  image: "openexposure/dataset-exporter:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: HTTP_PORT
    value: "8080"
  - name: REDIS_SVC
    value: "nef-redis-master:6379"
  - name: HTTPS
    value: "false"
  - name: HTTP_VER
    value: "1"

ueProfile:
  enabled: true
  image: "openexposure/ue-profile-service:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: HTTPS
    value: false
  - name: CN_HTTP_VERSION
    value: "1"
  - name: REDIS_SVC
    value: "nef-redis-master:6379"
  - name: NBI_PORT
    value: "8080"

ueAddress:
  enabled: true
  image: "openexposure/ue-address:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  config:
    enabled: true
    data:
      nbi:
        httpVersion: 1
        useTLS: false
        fqdn: 3gpp-ue-address.local
        port: 8080
      sbi:
        identitySvc: http://identity-service:8080
        profileSvc: http://ue-profile-service:8080
        httpVersion: 1
      supportedFeatures: 3fff
      capifSvc: nef-capif:8080

ueId:
  enabled: true
  image: "openexposure/ue-id:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  config:
    enabled: true
    data:
      nbi:
        httpVersion: 1
        useTLS: false
        fqdn: 3gpp-ueid.local
        port: 8080
      sbi:
        identitySvc: http://identity-service:8080
        httpVersion: 1
      supportedFeatures: 3fff
      capifSvc: nef-capif:8080

coreNetwork:
  enabled: true
  image: "openexposure/core-network-service:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  type: ClusterIP
  port: 9090
  env:
  - name: USE_NRF
    value: "false"
  - name: CN_HTTP_VERSION
    value: "1"
  - name: REDIS_ADDR
    value: "nef-redis-master:6379"
  - name: REDIS_SVC
    value: "nef-redis-master:6379"
  - name: AMF_IP_ADDR
    value: "http://nef-core-simulator:8080"
  - name: AMF_SUBSCR_ROUTE
    value: "/namf-evts/v1"
  - name: AMF_API_ROUTE
    value: "/test/amf"
  - name: AMF_NOTIFY_CORRELATION_ID
    value: "string"
  - name: AMF_NOTIFICATION_ID
    value: "1"
  - name: AMF_NOTIFICATION_FORWARD_ROUTE
    value: "/sbi/notification/amf"
  - name: SMF_IP_ADDR
    value: "http://nef-core-simulator:8080"
  - name: SMF_SUBSCR_ROUTE
    value: "/nsmf_event-exposure/v1"
  - name: SMF_API_ROUTE
    value: "/test/smf"
  - name: SMF_NOTIFY_CORRELATION_ID
    value: "string"
  - name: SMF_NOTIFICATION_ID
    value: "2"
  - name: SMF_NOTIFICATION_FORWARD_ROUTE
    value: "/sbi/notification/smf"
  - name: EVENT_NOTIFY_URI
    value: "http://nef-core-network:9090"
  - name: SERVER_ADDR
    value: "0.0.0.0:9090" # bind to all interfaces, not to the service ClusterIP nef-core-network:9090
    # value: "nef-core-network:9090" Application binds to all available interfaces on the Pod
    # Traffic flow: Client → Service (10.96.252.195:9090) → kube-proxy routes → Pod (10.244.0.5:9090) → Your app listening on 0.0.0.0:9090
    # The Service acts as a router/load balancer, not a binding address
    # Your Service nef-core-network has a ClusterIP (10.96.252.195)
    # This IP doesn't exist on any Pod - it's a virtual IP managed by kube-proxy
    # kube-proxy uses iptables/ipvs rules to route traffic from this ClusterIP to the actual Pod IPs

coreSimulator:
  enabled: true
  image: "openexposure/core-simulator:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  extraPorts:
  - port: 9090
    name: metrics
  prometheusPort: 9090
  env:
  - name: REDIS_ADDR
    value: "nef-redis-master:6379"
  - name: REDIS_SVC
    value: "nef-redis-master:6379"
  config:
    enabled: true
    data:
      httpVersion: 2
      fqdn: core-simulator
      sbiPort: 8080
      oamPort: 8081
      initOnStartup: true
      simulationProfile:
        plmn:
          mcc: "001"
          mnc: "01"
        dnn: "intenet"
        slice:
          sst: 1
          sd: "FFFFFF"
        numOfUe: 20
        numOfgNB: 10
        arrivalRate: 2

capif:
  enabled: true
  image: "openexposure/capif-service:develop"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 8080
  env:
  - name: CAPIF_FQDN
    value: "vm03.netsoft.cs.eurecom.fr"
  - name: CAPIF_AUTH_PORT
    value: "8084"
  - name: CAPIF_USERNAME
    value: "nef-semproj"
  - name: CAPIF_PASSWORD
    value: "semprojopenex"
  - name: INGRESS_FQDN
    value: ""

prometheus:
  enabled: true
  image: "prom/prometheus:latest"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 9090
  config:
    enabled: true
    data:
      global:
        scrape_interval: 15s
        evaluation_interval: 15s
      scrape_configs:
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
        - role: pod
        relabel_configs:
        - source_labels: [ __meta_kubernetes_pod_annotation_prometheus_io_scrape ]
          action: keep
          regex: true
        - source_labels: [ __meta_kubernetes_pod_annotation_prometheus_io_path ]
          action: replace
          target_label: __metrics_path__
          regex: (.+)
        - source_labels: [ __address__, __meta_kubernetes_pod_annotation_prometheus_io_port ]
          action: replace
          regex: ([^:]+)(?::\d+)?;(\d+)
          replacement: $1:$2
          target_label: __address__

grafana:
  enabled: true
  image: "grafana/grafana:latest"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 3000
  env:
  - name: GF_AUTH_DISABLE_LOGIN_FORM
    value: "true"
  - name: GF_AUTH_ANONYMOUS_ENABLED
    value: "true"
  - name: GF_AUTH_ANONYMOUS_ORG_ROLE
    value: "Admin"
  config:
    enabled: true
    datasources:
      apiVersion: 1
      datasources:
      - name: prometheus
        type: prometheus
        access: proxy
        url: http://nef-prometheus:9090
        isDefault: true
        editable: false # todo determine if true or false (ask Giulio as there are two conflicting requirements)
    dashboards:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards

redis:
  enabled: true
  architecture: standalone

  image:
    registry: docker.io
    repository: library/redis
    tag: "7.2"
    pullPolicy: IfNotPresent

  master:
    image:
      registry: docker.io
      repository: library/redis
      tag: "7.2"

    persistence:
      enabled: true

  auth:
    enabled: false

redisInsight:
  enabled: true
  image: "redis/redisinsight:latest"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  resources: {}
  replicaCount: 1
  port: 5540

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
  - host: nef.local
    paths:
    - path: /3gpp-as-session-with-qos
      pathType: Prefix
      service: nef-as-session-with-qos
      port: 8080
    - path: /3gpp-traffic-influence
      pathType: Prefix
      service: nef-traffic-influence
      port: 8080
    - path: /3gpp-monitoring-event
      pathType: Prefix
      service: nef-monitoring-event
      port: 8080
    - path: /3gpp-ue-id
      pathType: Prefix
      service: nef-ue-id
      port: 8080
    - path: /3gpp-ue-address
      pathType: Prefix
      service: nef-ue-address
      port: 8080
    - path: /grafana
      pathType: Prefix
      service: nef-grafana
      port: 3000
    - path: /prometheus
      pathType: Prefix
      service: nef-prometheus
      port: 9090
  tls: []
