{{- if and .Values.services.coreNetworkService .Values.coreNetworkService.config.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-core-network-config
  labels:
    app.kubernetes.io/name: core-network
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  config.yaml: |
    useNrf: {{ .Values.coreNetworkService.config.data.useNrf | default .Values.global.sbi.useNrf }}
    cnHttpVersion: {{ .Values.coreNetworkService.config.data.cnHttpVersion | default .Values.global.cnHttpVersion }}
    redisAddr: {{ .Values.redis.address | quote }}
    redisSvc: {{ .Values.redis.address | quote }}
    amfIpAddr: {{ .Values.coreNetworkService.config.data.amf.ipAddr | quote }}
    amfSubscrRoute: {{ .Values.coreNetworkService.config.data.amf.subscrRoute | quote }}
    amfApiRoute: {{ .Values.coreNetworkService.config.data.amf.apiRoute | quote }}
    amfNotifyCorrelationId: {{ .Values.coreNetworkService.config.data.amf.notifyCorrelationId | quote }}
    amfNotificationId: {{ .Values.coreNetworkService.config.data.amf.notificationId }}
    amfNotificationForwardRoute: {{ .Values.coreNetworkService.config.data.amf.notificationForwardRoute | quote }}
    smfIpAddr: {{ .Values.coreNetworkService.config.data.smf.ipAddr | quote }}
    smfSubscrRoute: {{ .Values.coreNetworkService.config.data.smf.subscrRoute | quote }}
    smfApiRoute: {{ .Values.coreNetworkService.config.data.smf.apiRoute | quote }}
    smfNotifyCorrelationId: {{ .Values.coreNetworkService.config.data.smf.notifyCorrelationId | quote }}
    smfNotificationId: {{ .Values.coreNetworkService.config.data.smf.notificationId }}
    smfNotificationForwardRoute: {{ .Values.coreNetworkService.config.data.smf.notificationForwardRoute | quote }}
    eventNotifyUri: {{ .Values.coreNetworkService.config.data.eventNotifyUri | quote }}
    serverAddr: {{ .Values.coreNetworkService.config.data.serverAddr | quote }}
{{- end }}
